* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: linear-gradient(to right, aqua, #09818f);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainContainer {
  width: 600px;
  height: 600px;
  position: relative;
}
.slot {
  position: absolute;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slotNumbers {
  position: absolute;
  top: 0px;
  left: 0px;
}
.slotLetters {
  position: absolute;
  top: 55px;
  left: 0px;
}
.imagesInSqueers {
  width: 70px;
  height: 70px;
}
.blackSquere {
  background-color: #054d55;
}
.whiteSquere {
  background-color: white;
}
.blackSymbols {
  color: white;
  font-size: 20px;
  font-weight: 300;
}
.whiteSymbols {
  color: #054d55;
  font-size: 20px;
  font-weight: 300;
}
.columnSide {
  position: absolute;
}
.rowSide {
  position: absolute;
  bottom: 59px;
}
.passive {
  display: none !important;
}
.startBox {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(35, 18, 52);
}
.startButton {
  width: 50%;
  height: 10%;
  background-color: #09818f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: rgb(35, 18, 52);
  cursor: pointer;
}
.startButton:hover {
  transition: 1s ease;
  background: linear-gradient(to right, aqua, #09818f);
}
